.border{
  border: 1px solid black;
  padding: 10px;
}

.text_border {
  border: 1px solid black;
  background-color: #ccffee;
}

.center {
  display: flex;
  justify-content: center; 
}

.hoverLtoR:hover {
  cursor: nwse-resize;
}

.hoverRtoL:hover {
  cursor: nesw-resize;
}

.hoverMove:hover {
  cursor: move;
}

